.wrapper {
  padding-left: 11.8%;
  padding-right: 11.8%;
  @media (max-width: 1440px) {
    padding-left: 8%;
    padding-right: 8%;
  }
  @media screen and (max-width: 1024px) {
    padding-left: 5%;
    padding-right: 5%;
  }
  @media screen and (max-width: 768px) {
    padding-left: 3.5%;
    padding-right: 3.5%;
  }
  &--left {
    padding-left: 15%;
    padding-right: 0%;
    @media (max-width: 1300px) {
      padding-left: 10%;
      padding-right: 0%;
    }
    @media screen and (max-width: 1024px) {
      padding-left: 5%;
      padding-right: 0%;
    }
    @media screen and (max-width: 768px) {
      padding-left: 3.5%;
      padding-right: 3.5%;
    }
  }
  &--right {
    padding-left: 0%;
    padding-right: 15%;
    @media (max-width: 1300px) {
      padding-left: 0%;
      padding-right: 10%;
    }
    @media screen and (max-width: 1024px) {
      padding-left: 0%;
      padding-right: 5%;
    }
    @media screen and (max-width: 768px) {
      padding-left: 3.5%;
      padding-right: 3.5%;
    }
  }
}

.cIcon {
  font-size: 2.8rem;
}

.title {
  font-size: 3.8rem;
  color: $primary-black;
  font-weight: 400;
}

.cForm {
  &__togglePassword{
    position: absolute;
    right: 0px;
    background-color: transparent;
    border: none;
    .cIcon{
      font-size: 2rem;
    }
  }
  &__inputWrapper{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    .cForm__formControl{
      width: 100%;
    }
  }
  &__fieldgroup {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 15px;
    &--2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }
  }
  &__label {
    font-size: 1.2rem;
    color: $primary-black;
    text-transform: capitalize;
  }
  &__formControl {
    border: 1px solid $border;
    outline: none;
    background-color: $washWhite;
    border-radius: 6px;
    font-size: 1.3rem;
    padding: 6px 10px;
    &:focus {
      border: 1px solid $primary-green;
    }
  }
  &__buttons {
    margin-top: 10px;
  }
  &__error {
    color: $danger;
    font-size: 1.1rem;
    margin-top: 4px;
  }
  &__helperText{
    font-size: 1.3rem;
    margin-top: 20px;
    text-align: center;
    color: $primary-black;
  }
  &__link{
    color: $primary-green;
    &:hover{
      color:$dark-blue
    }
  }
}

.cBtn {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  &--green {
    background: $primary-green;
  }
  &--red {
    background: $danger;
  }
  &--blue{
    background-color: $light-blue;
  }
  &:hover {
    background: $dark-blue;
    span {
      animation: btnTransform 0.5s linear;
    }
  }
  &:disabled{
    &:hover{
      transition: none;
      background-color: inherit;
      span{
        color:  $border;
        animation: none;
      }
    }
    span{
      color:  $border;
    }
  }
  span {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 24px;
    color: #ffffff;
    padding: 8px 18px;
    gap: 8px;
  }
  &--white {
    background-color: #fff;
    span {
      color: #6b1310;
    }
    &:hover {
      span {
        color: #fff;
      }
    }
  }
  @keyframes btnTransform {
    0% {
      transform: translateX(0%);
      opacity: 1;
    }

    20% {
      transform: translateX(-50%);
      opacity: 0;
    }

    60% {
      transform: translateX(-100%);
      opacity: 0;
    }

    80% {
      transform: translateX(50%);
      opacity: 0;
    }

    100% {
      transform: translateX(0%);
    }
  }

  @keyframes btnTransformY {
    0% {
      transform: translateY(0%);
      opacity: 1;
    }

    20% {
      transform: translateY(-50%);
      opacity: 0;
    }

    60% {
      transform: translateY(-100%);
      opacity: 0;
    }

    80% {
      transform: translateY(50%);
      opacity: 0;
    }

    100% {
      transform: translateY(0%);
    }
  }
}

.loadingWrapper{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  aspect-ratio: 1;
  --c: linear-gradient(#108A00 0 0);
  --r1: radial-gradient(farthest-side at bottom,#108A00 93%,#108A00);
  --r2: radial-gradient(farthest-side at top   ,#108A00 93%,#108A00);
  background: 
    var(--c) ,var(--r1),var(--r2),
    var(--c) ,var(--r1),var(--r2),
    var(--c) ,var(--r1),var(--r2);
  background-repeat: no-repeat;
  animation: l2 1s infinite alternate;
}
@keyframes l2 {
  0%,25% {
    background-size: 8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
    background-position: 0 50%,0 calc(50% - 2px),0 calc(50% + 2px),50% 50%,50% calc(50% - 2px),50% calc(50% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
 }
 50% {
    background-size: 8px 100%,8px 4px,8px 4px,8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
    background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(50% - 2px),50% calc(50% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
 }
 75% {
    background-size: 8px 100%,8px 4px,8px 4px,8px 100%,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
    background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(0% - 2px),50% calc(100% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
 }
 95%,100% {
    background-size: 8px 100%,8px 4px, 8px 4px,8px 100%,8px 4px,8px 4px,8px 100%,8px 4px,8px 4px;
    background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(0% - 2px),50% calc(100% + 2px),100% 50%,100% calc(0% - 2px),100% calc(100% + 2px);
 }
} 

.componentPanel{
  color: $primary-black;
  background: $white;
  border: 1px solid rgba(36, 39, 44, .1);
  border-radius: 16px;
  box-shadow: 0 1px 2px rgba(36, 39, 44, .1);
  width: 100%;
  height: max-content;
  &__header{
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $border;
    &__title{
      font-size: 2.3rem;
      color: $primary-green;
      font-weight: 600;
    }
  }
  &__body{
    padding: 15px 20px;
    padding-top: 0px;
  }
}

.cTableWrapper{
  width: 100%;
  overflow: auto;
}
.cTable{
  width: 100%;
  text-align: left;
  border-spacing: 0px;

  thead{
    th{
      padding: 12px 20px;
      font-size: 1.6rem;
      line-height: 140%;
      font-weight: bold;
      white-space: nowrap;
    }
  }
  tbody{
    tr{
      &:nth-child(odd){
        background-color:#EBF9F1;
      }
      td{
        padding: 8px 20px;
        font-size: 1.4rem;
        font-weight: 400;
        white-space: nowrap;
      }
    }
  }
  &__pagination{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $border;
    padding: 12px 15px;
    padding-bottom: 0px;
    &__btn{
      background-color: transparent;
      border: 1px solid $border;
      padding: 0px;
      span{
        display: flex;
        gap: 6px;
        color: $primary-black;
        font-size: 1.2rem;
        padding: 4px 10px;
        transition: all 0.3s ease-in-out;
      }
      &:hover,&.active{
        background-color: $primary-green;

        span{
          color: $white;
        }
      }
    }
    &__pages{
      display: flex;
    }
  }
}

.action__btns{
  display: flex;
  gap: 5px;
}




/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  z-index: 100000000000000;
}

.modal-overlay.open {
  opacity: 1;
  pointer-events: all;
}

/* Modal Container */
.modal-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  transform: scale(0.9);
  transition: transform 0.3s ease-out;
}

.modal-overlay.open .modal-container {
  transform: scale(1);
}

/* Close Button */
.close-btn {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  span{
    padding: 8px;
  }
}

.modal-body{
  font-size: 1.4rem;
  margin-top: 20px;
}

.highlight-text{
  color: $primary-green;
}

.modal-footer{
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  padding-top: 24px;
}