@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: 0;
  border: 0;
  appearance: none;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0px;
}

ul {
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: #141414;
}

html {
  font-size: 10px;
  font-family: "Inter", sans-serif;
}
@media (max-width: 1440px) {
  html {
    font-size: 9.3px;
  }
}

.ps-sidebar-root {
  border-right-width: 0px;
}

.wrapper {
  padding-left: 11.8%;
  padding-right: 11.8%;
}
@media (max-width: 1440px) {
  .wrapper {
    padding-left: 8%;
    padding-right: 8%;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    padding-left: 3.5%;
    padding-right: 3.5%;
  }
}
.wrapper--left {
  padding-left: 15%;
  padding-right: 0%;
}
@media (max-width: 1300px) {
  .wrapper--left {
    padding-left: 10%;
    padding-right: 0%;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper--left {
    padding-left: 5%;
    padding-right: 0%;
  }
}
@media screen and (max-width: 768px) {
  .wrapper--left {
    padding-left: 3.5%;
    padding-right: 3.5%;
  }
}
.wrapper--right {
  padding-left: 0%;
  padding-right: 15%;
}
@media (max-width: 1300px) {
  .wrapper--right {
    padding-left: 0%;
    padding-right: 10%;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper--right {
    padding-left: 0%;
    padding-right: 5%;
  }
}
@media screen and (max-width: 768px) {
  .wrapper--right {
    padding-left: 3.5%;
    padding-right: 3.5%;
  }
}

.cIcon {
  font-size: 2.8rem;
}

.title {
  font-size: 3.8rem;
  color: #141414;
  font-weight: 400;
  text-transform: capitalize;
}

.cForm__togglePassword {
  position: absolute;
  right: 0px;
  background-color: transparent;
  border: none;
}
.cForm__togglePassword .cIcon {
  font-size: 2rem;
}
.cForm__inputWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}
.cForm__inputWrapper .cForm__formControl {
  width: 100%;
}
.cForm__fieldgroup {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 15px;
}
.cForm__fieldgroup--2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.cForm__label {
  font-size: 1.2rem;
  color: #141414;
  text-transform: capitalize;
}
.cForm__formControl {
  border: 1px solid #D4D7E3;
  outline: none;
  background-color: #F7FBFF;
  border-radius: 6px;
  font-size: 1.3rem;
  padding: 6px 10px;
}
.cForm__formControl:focus {
  border: 1px solid #108A00;
}
.cForm__buttons {
  margin-top: 10px;
}
.cForm__error {
  color: #f80053;
  font-size: 1.1rem;
  margin-top: 4px;
}
.cForm__helperText {
  font-size: 1.3rem;
  margin-top: 20px;
  text-align: center;
  color: #141414;
}
.cForm__link {
  color: #108A00;
}
.cForm__link:hover {
  color: #2f4858;
}

.cBtn {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  height: max-content;
}
.cBtn--green {
  background: #108A00;
}
.cBtn--red {
  background: #f80053;
}
.cBtn--blue {
  background-color: #008cc8;
}
.cBtn:hover {
  background: #2f4858;
}
.cBtn:hover span {
  animation: btnTransform 0.5s linear;
}
.cBtn:disabled:hover {
  transition: none;
  background-color: inherit;
}
.cBtn:disabled:hover span {
  color: #D4D7E3;
  animation: none;
}
.cBtn:disabled span {
  color: #D4D7E3;
}
.cBtn span {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 24px;
  color: #ffffff;
  padding: 8px 18px;
  gap: 8px;
}
.cBtn--white {
  background-color: #fff;
}
.cBtn--white span {
  color: #6b1310;
}
.cBtn--white:hover span {
  color: #fff;
}
@keyframes btnTransform {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  20% {
    transform: translateX(-50%);
    opacity: 0;
  }
  60% {
    transform: translateX(-100%);
    opacity: 0;
  }
  80% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes btnTransformY {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  20% {
    transform: translateY(-50%);
    opacity: 0;
  }
  60% {
    transform: translateY(-100%);
    opacity: 0;
  }
  80% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
  }
}

.loadingWrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  aspect-ratio: 1;
  --c: linear-gradient(#108A00 0 0);
  --r1: radial-gradient(farthest-side at bottom,#108A00 93%,#108A00);
  --r2: radial-gradient(farthest-side at top ,#108A00 93%,#108A00);
  background: var(--c), var(--r1), var(--r2), var(--c), var(--r1), var(--r2), var(--c), var(--r1), var(--r2);
  background-repeat: no-repeat;
  animation: l2 1s infinite alternate;
}

@keyframes l2 {
  0%, 25% {
    background-size: 8px 0, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(50% - 2px), 0 calc(50% + 2px), 50% 50%, 50% calc(50% - 2px), 50% calc(50% + 2px), 100% 50%, 100% calc(50% - 2px), 100% calc(50% + 2px);
  }
  50% {
    background-size: 8px 100%, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px), 50% 50%, 50% calc(50% - 2px), 50% calc(50% + 2px), 100% 50%, 100% calc(50% - 2px), 100% calc(50% + 2px);
  }
  75% {
    background-size: 8px 100%, 8px 4px, 8px 4px, 8px 100%, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px), 50% 50%, 50% calc(0% - 2px), 50% calc(100% + 2px), 100% 50%, 100% calc(50% - 2px), 100% calc(50% + 2px);
  }
  95%, 100% {
    background-size: 8px 100%, 8px 4px, 8px 4px, 8px 100%, 8px 4px, 8px 4px, 8px 100%, 8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px), 50% 50%, 50% calc(0% - 2px), 50% calc(100% + 2px), 100% 50%, 100% calc(0% - 2px), 100% calc(100% + 2px);
  }
}
.componentPanel {
  color: #141414;
  background: #fff;
  border: 1px solid rgba(36, 39, 44, 0.1);
  border-radius: 16px;
  box-shadow: 0 1px 2px rgba(36, 39, 44, 0.1);
  width: 100%;
  height: max-content;
}
.componentPanel__header {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #D4D7E3;
}
.componentPanel__header__title {
  font-size: 2.3rem;
  color: #108A00;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}
.componentPanel__header__title span {
  font-size: 1.8rem;
}
.componentPanel__header__btns {
  display: flex;
  gap: 8px;
  align-items: center;
}
.componentPanel__body {
  padding: 15px 20px;
  padding-top: 0px;
}
.componentPanel__body__text {
  margin-top: 25px;
  font-size: 1.6rem;
  line-height: 150%;
}

.cTableWrapper {
  width: 100%;
  overflow: auto;
}

.cTable {
  width: 100%;
  text-align: left;
  border-spacing: 0px;
}
.cTable thead th {
  padding: 12px 20px;
  font-size: 1.6rem;
  line-height: 140%;
  font-weight: bold;
  white-space: nowrap;
}
.cTable tbody tr:nth-child(odd) {
  background-color: #EBF9F1;
}
.cTable tbody tr td {
  padding: 8px 20px;
  font-size: 1.4rem;
  font-weight: 400;
  white-space: nowrap;
}
.cTable__pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #D4D7E3;
  padding: 12px 15px;
  padding-bottom: 0px;
}
.cTable__pagination__btn {
  background-color: transparent;
  border: 1px solid #D4D7E3;
  padding: 0px;
}
.cTable__pagination__btn span {
  display: flex;
  gap: 6px;
  color: #141414;
  font-size: 1.2rem;
  padding: 4px 10px;
  transition: all 0.3s ease-in-out;
}
.cTable__pagination__btn:hover, .cTable__pagination__btn.active {
  background-color: #108A00;
}
.cTable__pagination__btn:hover span, .cTable__pagination__btn.active span {
  color: #fff;
}
.cTable__pagination__pages {
  display: flex;
}

.action__btns {
  display: flex;
  gap: 5px;
}

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  z-index: 100000000000000;
}

.modal-overlay.open {
  opacity: 1;
  pointer-events: all;
}

/* Modal Container */
.modal-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  transform: scale(0.9);
  transition: transform 0.3s ease-out;
}

.modal-overlay.open .modal-container {
  transform: scale(1);
}

/* Close Button */
.close-btn {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  aspect-ratio: 1/1;
}
.close-btn span {
  padding: 8px;
}

.modal-body {
  font-size: 1.4rem;
  margin-top: 20px;
}

.highlight-text {
  color: #108A00;
}

.modal-footer {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  padding-top: 24px;
}

.warning {
  color: #008cc8;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.success {
  color: #108A00;
}

.page-wrap {
  padding: 30px 15px;
  text-align: center;
  display: flex;
  align-items: center;
  margin: auto;
}
.page-wrap .page-not-found {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.page-wrap .page-not-found .img-key {
  margin-bottom: 0px;
}
.page-wrap .page-not-found h1.text-xl {
  color: #141414;
  text-transform: uppercase;
  line-height: 50px;
  font-size: 160px;
  font-weight: 800;
  text-shadow: -6px 4px 0px #fff;
  margin-left: -20px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.page-wrap .page-not-found h1.text-xl span {
  transition: all 1s ease;
  display: inline-block;
  animation: pulse 5s infinite;
}
.page-wrap .page-not-found h4.text-md,
.page-wrap .page-not-found h4.text-sm {
  letter-spacing: 0.38px;
  font-weight: 300;
  line-height: 20px;
  font-size: 14px;
  text-transform: none;
  color: rgba(20, 20, 20, 0.5);
  margin: 40px 0px;
  width: 100%;
}
.page-wrap .page-not-found h4.text-md a,
.page-wrap .page-not-found h4.text-sm a {
  color: #008cc8;
  text-decoration: underline;
  font-weight: 700;
}
.page-wrap .page-not-found h4.text-md a:hover, .page-wrap .page-not-found h4.text-md a:focus,
.page-wrap .page-not-found h4.text-sm a:hover,
.page-wrap .page-not-found h4.text-sm a:focus {
  text-decoration: none;
}
.page-wrap .page-not-found h4.text-md {
  font-size: 50px;
  font-weight: 700;
  color: #008cc8;
  text-transform: none;
}
.page-wrap .page-not-found h4.text-sm-btm {
  top: auto;
  bottom: 40px;
}

@keyframes pulse {
  0% {
    color: #141414;
  }
  50% {
    color: #f80053;
  }
  100% {
    color: #141414;
  }
}
@media (max-width: 768px) {
  .page-wrap .page-not-found h1.text-xl {
    font-size: 120px;
    letter-spacing: -20px;
    margin-bottom: 30px;
  }
  .page-wrap .page-not-found h4.text-sm {
    top: 10px;
  }
  .page-wrap .page-not-found h4.text-sm-btm {
    bottom: -60px;
  }
  .page-wrap .page-not-found h4.text-md {
    font-size: 30px;
  }
}
.authForm {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  margin: auto auto;
  align-items: center;
  height: 100dvh;
  background-color: #fdfffd;
  gap: 10%;
}
.authForm--colReverse {
  grid-template-columns: 1.5fr 1fr;
}
@media (max-width: 1439px) {
  .authForm {
    gap: 5%;
  }
}
@media (max-width: 767px) {
  .authForm {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.authForm__col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.authForm__intro {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  color: #108A00;
  text-align: left;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 15px;
}
.authForm__intro .cIcon {
  color: #108A00;
}
.authForm__subIntro {
  font-size: 1.4rem;
  line-height: 140%;
  text-align: left;
  margin-left: 0px;
  margin-right: auto;
}
.authForm__heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.authForm__imageWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 25px 0px;
}
@media (max-width: 767px) {
  .authForm__imageWrapper {
    display: none;
  }
}
.authForm__form {
  margin-top: 30px;
  width: 100%;
}
.authForm__button {
  width: 100%;
}

.dashboardLayout {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.dashboardLayout__outlet {
  padding: 24px;
  background-color: #EEF3F4;
  display: flex;
}
.dashboardLayout__topBar {
  height: 64px;
  border-bottom: 1px solid #D4D7E3;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}
.dashboardLayout__topBar__btns {
  display: flex;
}
.dashboardLayout__topBar__heading {
  font-size: 2rem;
}
@media (max-width: 1023px) {
  .dashboardLayout__topBar__heading {
    display: none;
  }
}
@media (max-width: 1023px) {
  .dashboardLayout__topBar__heading span {
    display: none;
  }
}
.dashboardLayout__col {
  width: 100%;
  min-width: calc(100vw - 265px);
}

.userInfoPill {
  display: flex;
  align-items: center;
  padding: 2px 15px;
  padding-right: 30px;
  gap: 10px;
  font-size: 1.6rem;
  border-radius: 10px;
  text-transform: capitalize;
}
.userInfoPill .cIcon {
  font-size: 3.2rem;
  border: 2px solid #141414;
  padding: 6px;
  border-radius: 50%;
  color: #141414;
}

.hamburger {
  position: relative;
  height: 20px;
  width: 25px;
  background-color: transparent;
  border: none;
  padding: 0px;
  cursor: pointer;
}
.hamburger span, .hamburger::after, .hamburger::before {
  background-color: #141414;
  height: 2px;
  width: 100%;
  position: absolute;
  border-radius: 10px;
  border: none;
  transition: all 0.3s ease-in-out;
}
.hamburger span {
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
}
.hamburger::after {
  content: "";
  bottom: 0px;
  left: 0px;
}
.hamburger::before {
  content: "";
  top: 0px;
  left: 0px;
}
.hamburger.open span {
  width: 75%;
  left: 0px;
}
.hamburger.open::after {
  width: 40%;
}

.ps-sidebar-container {
  container-type: inline-size;
}

.ps-menu-icon {
  justify-content: flex-start;
}

@media (max-width: 1439px) {
  .ps-sidebar-root {
    position: absolute !important;
    top: 64px;
    height: calc(100vh - 64px);
  }
}

.appLogo {
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: 3px;
  padding: 20px;
  transition: all 0.2s ease-in-out;
  color: #108A00;
}

@container (max-width: 209px) {
  .appLogo {
    font-size: 1.3rem !important;
  }
}
main {
  height: calc(100vh - 64px);
}

.users__fullName {
  display: flex;
  align-items: center;
  gap: 15px;
}
.users__fullName .cIcon {
  color: #108A00;
  font-size: 3.5rem;
  min-width: 35px;
}
.users__fullName__info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.users__fullName__info__phone {
  color: #7B808A;
}